accelerate==0.34.2
aiohttp==3.9.5
aiosignal==1.3.1
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.4.0
asttokens==2.4.1
attrs==23.2.0
beautifulsoup4==4.12.3
blis==0.7.11
boltons==24.0.0
Brotli==1.0.9
catalogue==2.0.10
certifi==2024.2.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
cloudpathlib==0.18.1
comm==0.2.2
confection==0.1.5
contourpy==1.2.1
coverage==7.5.3
cryptography==42.0.8
cycler==0.12.1
cymem==2.0.8
dataclasses-json==0.6.7
datasets==2.19.2
debugpy==1.6.7
decorator==5.1.1
dill==0.3.8
diskcache==5.6.3
docker-pycreds==0.4.0
effdet==0.3.0
exceptiongroup==1.2.0
execnet==2.1.1
executing==2.0.1
face==20.1.1
filelock==3.13.1
fonttools==4.53.0
frozenlist==1.4.1
fsspec==2024.3.1
ftfy==6.2.0
get-annotations==0.1.2
gitdb==4.0.11
GitPython==3.1.43
glom==23.5.0
gmpy2==2.1.2
greenlet==3.1.0
grobid-client-python==0.0.5
h11==0.14.0
httpcore==1.0.5
httpx==0.27.2
huggingface-hub==0.23.3
idna==3.7
importlib_metadata==7.1.0
iniconfig==2.0.0
iopath==0.1.10
ipykernel==6.29.3
ipython==8.25.0
ipywidgets==8.1.2
jedi==0.19.1
Jinja2==3.1.4
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyterlab-widgets==3.0.10
kiwisolver==1.4.5
langchain==0.3.0
langchain-community==0.3.0
langchain-core==0.3.0
langchain-text-splitters==0.3.0
langcodes==3.4.0
langsmith==0.1.120
language_data==1.2.0
layoutparser==0.3.4
lightning-utilities==0.11.2
llama_cpp_python==0.2.77
marisa-trie==1.1.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.22.0
matplotlib==3.9.0
matplotlib-inline==0.1.7
mdurl==0.1.2
mkl-fft==1.3.8
mkl-random==1.2.4
mkl-service==2.4.0
mpmath==1.3.0
multidict==6.0.5
multiprocess==0.70.16
murmurhash==1.0.10
mutagen==1.47.0
mypy==1.10.0
mypy-extensions==1.0.0
ncls==0.0.68
necessary==0.4.3
nest_asyncio==1.6.0
networkx==3.1
nltk==3.9.1
numpy==1.26.4
omegaconf==2.3.0
opencv-python==4.10.0.82
orjson==3.10.7
outcome==1.3.0.post0
packaging==24.0
pandas==2.2.2
papermage==0.20.0
parso==0.8.4
pathvalidate==3.2.0
pdf2image==1.17.0
pdfminer.six==20220524
pdfplumber==0.7.4
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.3.0
pip==24.0
platformdirs==4.2.2
pluggy==1.5.0
portalocker==2.8.2
preshed==3.0.9
prompt_toolkit==3.0.46
protobuf==4.25.3
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==16.1.0
pyarrow-hotfix==0.6
pycocotools==2.0.7
pycparser==2.22
pycryptodomex==3.21.0
pydantic==2.9.1
pydantic_core==2.23.3
pydantic-settings==2.5.2
Pygments==2.18.0
pyparsing==3.1.2
pysbd==0.3.4
PySocks==1.7.1
pytest==8.2.2
pytest-cov==5.0.0
pytest-xdist==3.6.1
python-dateutil==2.9.0
python-dotenv==1.0.1
pytorch-lightning==2.2.5
pytz==2024.1
PyYAML==6.0.1
pyzmq==25.1.2
rank-bm25==0.2.2
rapidfuzz==3.9.3
regex==2024.5.15
requests==2.32.2
requirements-parser==0.9.0
rich==13.7.1
safetensors==0.4.3
scikit-learn==1.5.0
scipy==1.13.1
selenium==4.25.0
sentence-transformers==3.1.0
sentry-sdk==2.4.0
seqeval==1.2.2
setproctitle==1.3.3
setuptools==69.5.1
shellingham==1.5.4
six==1.16.0
smart-open==7.0.4
smashed==0.1.10
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
springs==1.13.0
SQLAlchemy==2.0.34
srsly==2.4.8
stack-data==0.6.2
sympy==1.12
tenacity==8.5.0
thefuzz==0.22.1
thinc==8.2.4
threadpoolctl==3.5.0
timm==1.0.3
tokenizers==0.20.1
torch==2.3.1
torchaudio==2.3.1
torchmetrics==1.4.0.post0
torchvision==0.18.1
tornado==6.3.3
tqdm==4.66.4
traitlets==5.14.3
transformers==4.45.2
trio==0.26.2
trio-websocket==0.11.1
triton==2.3.1
trouting==0.3.3
typer==0.12.3
types-PyYAML==6.0.12.20240311
types-setuptools==70.0.0.20240524
typing_extensions==4.12.1
typing-inspect==0.9.0
tzdata==2024.1
urllib3==2.2.1
vila==0.5.0
Wand==0.6.13
wandb==0.17.0
wasabi==1.1.3
wcwidth==0.2.13
weasel==0.4.1
websocket-client==1.8.0
websockets==13.1
wheel==0.43.0
widgetsnbextension==4.0.10
wrapt==1.16.0
wsproto==1.2.0
xgboost==2.0.3
xxhash==3.4.1
yarl==1.9.4
yt-dlp==2024.10.7
zipp==3.17.0